<div class="row">
    <div class="col-md-12">
        <main role="main" class="container">
            <%= form_tag "/add", method: "post" do %>
                <input type="string" name="title" placeholder="Title" />
                <input type="string" name="author" placeholder="Author" />
                <input type="text" name="text" placeholder="Type your text here" />
                <input type="datetime" name="date" placeholder="Date" />
                <input type="submit" value="Ajouter le livre"/>
            <% end %>
        </main>
    </div>
</div>