<div class="row">
    <div class="col-md-12">
        <main role="main" class="container">
            <h1><%= @article.title %></h1>
            <h2><%= @article.author %></h2>
            <span><%= @article.article_text %></span>
            <p><%= @article.article_date %></p>
            <p><a href="/display">Retourner à la liste</a></p>
        </main>
    </div>
</div>
